requests
bs4
python-pptx
spacy
selenium
webdriver_manager
boto3
sqlalchemy
psycopg2-binary
pandas
numpy
matplotlib
torch
sentence-transformers
datasets
accelerate>=1.1.0
fastapi
uvicorn
passlib[bcrypt] 
python-jose[cryptography] 
python-multipart
pydantic[email]
bcrypt<4.0e
passlib
jose